html,
body {
  margin: 0;
  background: #191919;
  color: #fff;
  font-family: "Roboto Mono";
  user-select: none;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/RobotoMono-Regular.ttf");
}

.lp-firmware-utility {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

.hidden {
  height: 0;
  margin: 0;
  opacity: 0;
}

.inner {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  overflow: hidden;
}

select {
  background: #212121;
  color: #fff;
  padding: 8px;
  border: none;
  font-size: 1.3em;
}

.options {
  width: auto;
  margin: 10px 0;
}

.option {
  display: flex;
  align-items: left;
  margin: 4px 0;
  flex-direction: column;
}

.mainOption {
  width: auto;
}

.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 0 4px;
  background: #212121;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

.notice {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  overflow: hidden;
}

.notice span {
  font-size: 1.6em;
}

.closeIcon {
  margin-left: 0.5em;
  opacity: 0.75;
  cursor: pointer;
}

.progressDiv {
  margin-top: 10px;
}

.smol {
  font-size: 0.6em;
}

.smol span {
  opacity: 0.25;
}

.footer {
  position: absolute;
  bottom: 8px;
}

.footer span {
  opacity: 0.25;
}

.footer a,
.smol a,
.smol p {
  margin-left: 8px;
  color: #fff;
  opacity: 0.4865126587;
  display: inline-block;
}

.smol p {
  text-decoration: underline;
  cursor: pointer;
}

.tooltip {
  opacity: 1 !important;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.saturation-white {
  background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.saturation-black {
  background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.hue {
  background: linear-gradient(
    -90deg,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
  background: -webkit-linear-gradient(
    -90deg,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
}

.absolute-stretch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
